Hello, <%= @user %>!
=================================================

You have requested to reset your password.

To choose a new password, just follow this link: <%= link_to @url, @url %>.

Have a great day!
