
<div>
  <% if logged_in? %>
    <%= link_to 'Logout', user_signin_path, method: :delete %>
  <% else %>
    <%= link_to 'Registration', new_user_signup_path %> | <%= link_to 'Sign In', new_user_signin_path %>
  <% end %>
</div>

<p>
welcome <%= current_user %>
</p>
