<%= simple_form_for @user, url: user_signin_path do |f| %>
  <%= f.input :email %>
  <%= f.input :password %>

  <%= f.button :submit %>
<% end %>

<%= link_to 'Forgot Password?', new_user_reset_passwords_path %>
